examples/01-read-write.json
[
    {
        "id": "8e787ad.6aa1688",
        "type": "tab",
        "label": "Generic BLE Example",
        "disabled": false,
        "info": "This flow shows BLE Read/Write example.\n\nTI's CC2650 user's guide is abailable at https://processors.wiki.ti.com/index.php/CC2650_SensorTag_User%27s_Guide#Use_of_buttons\n\nCC2650's base UUID is f0000000-0451-4000-b000-000000000000. Replace last 0000 in f0000000 with the sensor's UUID in order to find the 128-bit characteristic UUID."
    },
    {
        "id": "4f0acd3.30d5234",
        "type": "Generic BLE in",
        "z": "8e787ad.6aa1688",
        "name": "",
        "genericBle": "22ee5c9e.9aa894",
        "useString": false,
        "notification": true,
        "x": 570,
        "y": 360,
        "wires": [
            [
                "feeba80a.a3064"
            ]
        ]
    },
    {
        "id": "94a959c7.4c4c7",
        "type": "inject",
        "z": "8e787ad.6aa1688",
        "name": "Get Temperature (AA01)",
        "topic": "f000aa0104514000b000000000000000",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "x": 180,
        "y": 300,
        "wires": [
            [
                "4f0acd3.30d5234"
            ]
        ]
    },
    {
        "id": "feeba80a.a3064",
        "type": "debug",
        "z": "8e787ad.6aa1688",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 770,
        "y": 360,
        "wires": []
    },
    {
        "id": "7efff245.e4d254",
        "type": "Generic BLE out",
        "z": "8e787ad.6aa1688",
        "name": "",
        "genericBle": "22ee5c9e.9aa894",
        "x": 790,
        "y": 180,
        "wires": []
    },
    {
        "id": "769a559a.dc9a4c",
        "type": "inject",
        "z": "8e787ad.6aa1688",
        "name": "Start Temperature Measurement",
        "topic": "",
        "payload": "{\"f000aa0204514000b000000000000000\":\"01\"}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "x": 510,
        "y": 120,
        "wires": [
            [
                "7efff245.e4d254"
            ]
        ]
    },
    {
        "id": "174514e3.b64d63",
        "type": "inject",
        "z": "8e787ad.6aa1688",
        "name": "Get All Readable Attributes",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 190,
        "y": 200,
        "wires": [
            [
                "4f0acd3.30d5234"
            ]
        ]
    },
    {
        "id": "e4653fa6.1df4f8",
        "type": "inject",
        "z": "8e787ad.6aa1688",
        "name": "Start Temperature Notify Events for 5 seconds",
        "topic": "f000aa0104514000b000000000000000",
        "payload": "{\"notify\":true,\"period\":5000}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "x": 250,
        "y": 340,
        "wires": [
            [
                "4f0acd3.30d5234"
            ]
        ]
    },
    {
        "id": "81b85e32.1b8c68",
        "type": "inject",
        "z": "8e787ad.6aa1688",
        "name": "Connect a CC2650 SensorTag",
        "topic": "connect",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "x": 500,
        "y": 80,
        "wires": [
            [
                "7efff245.e4d254"
            ]
        ]
    },
    {
        "id": "ea53fb2c.8f1cb8",
        "type": "inject",
        "z": "8e787ad.6aa1688",
        "name": "Disonnect a CC2650 SensorTag",
        "topic": "disconnect",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "x": 210,
        "y": 440,
        "wires": [
            [
                "4f0acd3.30d5234"
            ]
        ]
    },
    {
        "id": "fca7f32.52ff19",
        "type": "comment",
        "z": "8e787ad.6aa1688",
        "name": "Perform after connected",
        "info": "",
        "x": 190,
        "y": 160,
        "wires": []
    },
    {
        "id": "42bd68d3.b93bc8",
        "type": "comment",
        "z": "8e787ad.6aa1688",
        "name": "Perform after Temperature Measurement Started",
        "info": "",
        "x": 260,
        "y": 260,
        "wires": []
    },
    {
        "id": "39802692.3d633a",
        "type": "comment",
        "z": "8e787ad.6aa1688",
        "name": "Disconnect a peripheral device",
        "info": "",
        "x": 210,
        "y": 400,
        "wires": []
    },
    {
        "id": "d3cf629c.017a98",
        "type": "comment",
        "z": "8e787ad.6aa1688",
        "name": "Set up a peripheral device",
        "info": "",
        "x": 490,
        "y": 40,
        "wires": []
    },
    {
        "id": "22ee5c9e.9aa894",
        "type": "Generic BLE",
        "z": "",
        "localName": "CC2650 SensorTag",
        "address": "11:22:33:aa:bb:cc",
        "uuid": "112233aabbcc",
        "characteristics": [
            {
                "uuid": "2a50",
                "name": "PnP ID",
                "type": "org.bluetooth.characteristic.pnp_id",
                "notifiable": false,
                "readable": true,
                "writable": false,
                "writeWithoutResponse": false
            },
            {
                "uuid": "2a2a",
                "name": "IEEE 11073-20601 Regulatory Certification Data List",
                "type": "org.bluetooth.characteristic.ieee_11073-20601_regulatory_certification_data_list",
                "notifiable": false,
                "readable": true,
                "writable": false,
                "writeWithoutResponse": false
            },
            {
                "uuid": "2a29",
                "name": "Manufacturer Name String",
                "type": "org.bluetooth.characteristic.manufacturer_name_string",
                "notifiable": false,
                "readable": true,
                "writable": false,
                "writeWithoutResponse": false
            },
            {
                "uuid": "2a28",
                "name": "Software Revision String",
                "type": "org.bluetooth.characteristic.software_revision_string",
                "notifiable": false,
                "readable": true,
                "writable": false,
                "writeWithoutResponse": false
            },
            {
                "uuid": "2a27",
                "name": "Hardware Revision String",
                "type": "org.bluetooth.characteristic.hardware_revision_string",
                "notifiable": false,
                "readable": true,
                "writable": false,
                "writeWithoutResponse": false
            },
            {
                "uuid": "2a26",
                "name": "Firmware Revision String",
                "type": "org.bluetooth.characteristic.firmware_revision_string",
                "notifiable": false,
                "readable": true,
                "writable": false,
                "writeWithoutResponse": false
            },
            {
                "uuid": "2a25",
                "name": "Serial Number String",
                "type": "org.bluetooth.characteristic.serial_number_string",
                "notifiable": false,
                "readable": true,
                "writable": false,
                "writeWithoutResponse": false
            },
            {
                "uuid": "2a24",
                "name": "Model Number String",
                "type": "org.bluetooth.characteristic.model_number_string",
                "notifiable": false,
                "readable": true,
                "writable": false,
                "writeWithoutResponse": false
            },
            {
                "uuid": "2a23",
                "name": "System ID",
                "type": "org.bluetooth.characteristic.system_id",
                "notifiable": false,
                "readable": true,
                "writable": false,
                "writeWithoutResponse": false
            },
            {
                "uuid": "ffe1",
                "name": "<Unnamed>",
                "type": "(Custom Type)",
                "notifiable": true,
                "readable": false,
                "writable": false,
                "writeWithoutResponse": false
            },
            {
                "uuid": "f000aa0304514000b000000000000000",
                "name": "<Unnamed>",
                "type": "(Custom Type)",
                "notifiable": false,
                "readable": true,
                "writable": true,
                "writeWithoutResponse": false
            },
            {
                "uuid": "f000aa0204514000b000000000000000",
                "name": "<Unnamed>",
                "type": "(Custom Type)",
                "notifiable": false,
                "readable": true,
                "writable": true,
                "writeWithoutResponse": false
            },
            {
                "uuid": "f000aa0104514000b000000000000000",
                "name": "<Unnamed>",
                "type": "(Custom Type)",
                "notifiable": true,
                "readable": true,
                "writable": false,
                "writeWithoutResponse": false
            },
            {
                "uuid": "f000aa2304514000b000000000000000",
                "name": "<Unnamed>",
                "type": "(Custom Type)",
                "notifiable": false,
                "readable": true,
                "writable": true,
                "writeWithoutResponse": false
            },
            {
                "uuid": "f000aa2204514000b000000000000000",
                "name": "<Unnamed>",
                "type": "(Custom Type)",
                "notifiable": false,
                "readable": true,
                "writable": true,
                "writeWithoutResponse": false
            },
            {
                "uuid": "f000aa2104514000b000000000000000",
                "name": "<Unnamed>",
                "type": "(Custom Type)",
                "notifiable": true,
                "readable": true,
                "writable": false,
                "writeWithoutResponse": false
            },
            {
                "uuid": "f000aa4404514000b000000000000000",
                "name": "<Unnamed>",
                "type": "(Custom Type)",
                "notifiable": false,
                "readable": true,
                "writable": true,
                "writeWithoutResponse": false
            },
            {
                "uuid": "f000aa4204514000b000000000000000",
                "name": "<Unnamed>",
                "type": "(Custom Type)",
                "notifiable": false,
                "readable": true,
                "writable": true,
                "writeWithoutResponse": false
            },
            {
                "uuid": "f000aa4104514000b000000000000000",
                "name": "<Unnamed>",
                "type": "(Custom Type)",
                "notifiable": true,
                "readable": true,
                "writable": false,
                "writeWithoutResponse": false
            },
            {
                "uuid": "f000aa6604514000b000000000000000",
                "name": "<Unnamed>",
                "type": "(Custom Type)",
                "notifiable": false,
                "readable": true,
                "writable": true,
                "writeWithoutResponse": false
            },
            {
                "uuid": "f000aa6504514000b000000000000000",
                "name": "<Unnamed>",
                "type": "(Custom Type)",
                "notifiable": false,
                "readable": true,
                "writable": true,
                "writeWithoutResponse": false
            },
            {
                "uuid": "f000aa7304514000b000000000000000",
                "name": "<Unnamed>",
                "type": "(Custom Type)",
                "notifiable": false,
                "readable": true,
                "writable": true,
                "writeWithoutResponse": false
            },
            {
                "uuid": "f000aa7204514000b000000000000000",
                "name": "<Unnamed>",
                "type": "(Custom Type)",
                "notifiable": false,
                "readable": true,
                "writable": true,
                "writeWithoutResponse": false
            },
            {
                "uuid": "f000aa7104514000b000000000000000",
                "name": "<Unnamed>",
                "type": "(Custom Type)",
                "notifiable": true,
                "readable": true,
                "writable": false,
                "writeWithoutResponse": false
            },
            {
                "uuid": "f000aa8304514000b000000000000000",
                "name": "<Unnamed>",
                "type": "(Custom Type)",
                "notifiable": false,
                "readable": true,
                "writable": true,
                "writeWithoutResponse": false
            },
            {
                "uuid": "f000aa8204514000b000000000000000",
                "name": "<Unnamed>",
                "type": "(Custom Type)",
                "notifiable": false,
                "readable": true,
                "writable": true,
                "writeWithoutResponse": false
            },
            {
                "uuid": "f000aa8104514000b000000000000000",
                "name": "<Unnamed>",
                "type": "(Custom Type)",
                "notifiable": true,
                "readable": true,
                "writable": false,
                "writeWithoutResponse": false
            },
            {
                "uuid": "f000ac0304514000b000000000000000",
                "name": "<Unnamed>",
                "type": "(Custom Type)",
                "notifiable": false,
                "readable": true,
                "writable": true,
                "writeWithoutResponse": false
            },
            {
                "uuid": "f000ac0204514000b000000000000000",
                "name": "<Unnamed>",
                "type": "(Custom Type)",
                "notifiable": false,
                "readable": true,
                "writable": true,
                "writeWithoutResponse": false
            },
            {
                "uuid": "f000ac0104514000b000000000000000",
                "name": "<Unnamed>",
                "type": "(Custom Type)",
                "notifiable": false,
                "readable": true,
                "writable": true,
                "writeWithoutResponse": false
            },
            {
                "uuid": "f000ccc304514000b000000000000000",
                "name": "<Unnamed>",
                "type": "(Custom Type)",
                "notifiable": false,
                "readable": false,
                "writable": true,
                "writeWithoutResponse": false
            },
            {
                "uuid": "f000ccc204514000b000000000000000",
                "name": "<Unnamed>",
                "type": "(Custom Type)",
                "notifiable": false,
                "readable": false,
                "writable": true,
                "writeWithoutResponse": false
            },
            {
                "uuid": "f000ccc104514000b000000000000000",
                "name": "<Unnamed>",
                "type": "(Custom Type)",
                "notifiable": true,
                "readable": true,
                "writable": false,
                "writeWithoutResponse": false
            },
            {
                "uuid": "f000ffc404514000b000000000000000",
                "name": "<Unnamed>",
                "type": "(Custom Type)",
                "notifiable": true,
                "readable": true,
                "writable": false,
                "writeWithoutResponse": false
            },
            {
                "uuid": "f000ffc304514000b000000000000000",
                "name": "<Unnamed>",
                "type": "(Custom Type)",
                "notifiable": false,
                "readable": false,
                "writable": true,
                "writeWithoutResponse": false
            },
            {
                "uuid": "f000ffc204514000b000000000000000",
                "name": "<Unnamed>",
                "type": "(Custom Type)",
                "notifiable": true,
                "readable": false,
                "writable": true,
                "writeWithoutResponse": false
            },
            {
                "uuid": "f000ffc104514000b000000000000000",
                "name": "<Unnamed>",
                "type": "(Custom Type)",
                "notifiable": true,
                "readable": false,
                "writable": true,
                "writeWithoutResponse": false
            }
        ]
    }
]