examples/01-read-write.json
[
    {
        "id": "867e39b4.d517f",
        "type": "tab",
        "label": "Generic BLE Example",
        "disabled": false,
        "info": "This flow shows BLE Read/Write example.\n"
    },
    {
        "id": "dfcf20d6.138ff",
        "type": "Generic BLE in",
        "z": "867e39b4.d517f",
        "name": "",
        "genericBle": "3b98076c.99a4c8",
        "useString": false,
        "notification": true,
        "x": 450,
        "y": 320,
        "wires": [
            [
                "da23254.83523d8"
            ]
        ]
    },
    {
        "id": "215c4824.9513c8",
        "type": "inject",
        "z": "867e39b4.d517f",
        "name": "Get Battery Level",
        "topic": "2a19",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 200,
        "y": 220,
        "wires": [
            [
                "dfcf20d6.138ff"
            ]
        ]
    },
    {
        "id": "da23254.83523d8",
        "type": "debug",
        "z": "867e39b4.d517f",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 690,
        "y": 360,
        "wires": []
    },
    {
        "id": "f717fa38.f4e548",
        "type": "Generic BLE out",
        "z": "867e39b4.d517f",
        "name": "",
        "genericBle": "3b98076c.99a4c8",
        "x": 450,
        "y": 400,
        "wires": []
    },
    {
        "id": "bcb384fa.99e64",
        "type": "inject",
        "z": "867e39b4.d517f",
        "name": "Write Some Data",
        "topic": "",
        "payload": "{\"2a00\":\"yayyay\"}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 200,
        "y": 460,
        "wires": [
            [
                "f717fa38.f4e548"
            ]
        ]
    },
    {
        "id": "940c1128.0cc1f8",
        "type": "inject",
        "z": "867e39b4.d517f",
        "name": "Get All Readable Attributes",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 230,
        "y": 140,
        "wires": [
            [
                "dfcf20d6.138ff"
            ]
        ]
    },
    {
        "id": "5525464e.999a4",
        "type": "inject",
        "z": "867e39b4.d517f",
        "name": "Poll Notify Events",
        "topic": "2a19",
        "payload": "{\"notify\":true,\"period\":5000}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 200,
        "y": 300,
        "wires": [
            [
                "dfcf20d6.138ff"
            ]
        ]
    },
    {
        "id": "3b98076c.99a4c8",
        "type": "Generic BLE",
        "z": "",
        "localName": "CC2650 SensorTag",
        "address": "54:6c:0e:78:86:80",
        "uuid": "666e850ba45c4952b8bed27a8133ecb2",
        "muteNotifyEvents": true,
        "operationTimeout": "5000",
        "characteristics": [
            {
                "uuid": "2a23",
                "name": "System ID",
                "type": "org.bluetooth.characteristic.system_id",
                "notifiable": false,
                "readable": true,
                "writable": false,
                "writeWithoutResponse": false
            },
            {
                "uuid": "2a24",
                "name": "Model Number String",
                "type": "org.bluetooth.characteristic.model_number_string",
                "notifiable": false,
                "readable": true,
                "writable": false,
                "writeWithoutResponse": false
            },
            {
                "uuid": "2a25",
                "name": "Serial Number String",
                "type": "org.bluetooth.characteristic.serial_number_string",
                "notifiable": false,
                "readable": true,
                "writable": false,
                "writeWithoutResponse": false
            },
            {
                "uuid": "2a26",
                "name": "Firmware Revision String",
                "type": "org.bluetooth.characteristic.firmware_revision_string",
                "notifiable": false,
                "readable": true,
                "writable": false,
                "writeWithoutResponse": false
            },
            {
                "uuid": "2a27",
                "name": "Hardware Revision String",
                "type": "org.bluetooth.characteristic.hardware_revision_string",
                "notifiable": false,
                "readable": true,
                "writable": false,
                "writeWithoutResponse": false
            },
            {
                "uuid": "2a28",
                "name": "Software Revision String",
                "type": "org.bluetooth.characteristic.software_revision_string",
                "notifiable": false,
                "readable": true,
                "writable": false,
                "writeWithoutResponse": false
            },
            {
                "uuid": "2a29",
                "name": "Manufacturer Name String",
                "type": "org.bluetooth.characteristic.manufacturer_name_string",
                "notifiable": false,
                "readable": true,
                "writable": false,
                "writeWithoutResponse": false
            },
            {
                "uuid": "2a2a",
                "name": "IEEE 11073-20601 Regulatory Certification Data List",
                "type": "org.bluetooth.characteristic.ieee_11073-20601_regulatory_certification_data_list",
                "notifiable": false,
                "readable": true,
                "writable": false,
                "writeWithoutResponse": false
            },
            {
                "uuid": "2a50",
                "name": "PnP ID",
                "type": "org.bluetooth.characteristic.pnp_id",
                "notifiable": false,
                "readable": true,
                "writable": false,
                "writeWithoutResponse": false
            },
            {
                "uuid": "2a19",
                "name": "Battery Level",
                "type": "org.bluetooth.characteristic.battery_level",
                "notifiable": true,
                "readable": true,
                "writable": false,
                "writeWithoutResponse": false
            },
            {
                "uuid": "f000aa0104514000b000000000000000",
                "name": "<Unnamed>",
                "type": "(Custom Type)",
                "notifiable": true,
                "readable": true,
                "writable": false,
                "writeWithoutResponse": false
            },
            {
                "uuid": "f000aa0204514000b000000000000000",
                "name": "<Unnamed>",
                "type": "(Custom Type)",
                "notifiable": false,
                "readable": true,
                "writable": true,
                "writeWithoutResponse": false
            },
            {
                "uuid": "f000aa0304514000b000000000000000",
                "name": "<Unnamed>",
                "type": "(Custom Type)",
                "notifiable": false,
                "readable": true,
                "writable": true,
                "writeWithoutResponse": false
            },
            {
                "uuid": "f000aa2104514000b000000000000000",
                "name": "<Unnamed>",
                "type": "(Custom Type)",
                "notifiable": true,
                "readable": true,
                "writable": false,
                "writeWithoutResponse": false
            },
            {
                "uuid": "f000aa2204514000b000000000000000",
                "name": "<Unnamed>",
                "type": "(Custom Type)",
                "notifiable": false,
                "readable": true,
                "writable": true,
                "writeWithoutResponse": false
            },
            {
                "uuid": "f000aa2304514000b000000000000000",
                "name": "<Unnamed>",
                "type": "(Custom Type)",
                "notifiable": false,
                "readable": true,
                "writable": true,
                "writeWithoutResponse": false
            },
            {
                "uuid": "f000aa4104514000b000000000000000",
                "name": "<Unnamed>",
                "type": "(Custom Type)",
                "notifiable": true,
                "readable": true,
                "writable": false,
                "writeWithoutResponse": false
            },
            {
                "uuid": "f000aa4204514000b000000000000000",
                "name": "<Unnamed>",
                "type": "(Custom Type)",
                "notifiable": false,
                "readable": true,
                "writable": true,
                "writeWithoutResponse": false
            },
            {
                "uuid": "f000aa4404514000b000000000000000",
                "name": "<Unnamed>",
                "type": "(Custom Type)",
                "notifiable": false,
                "readable": true,
                "writable": true,
                "writeWithoutResponse": false
            },
            {
                "uuid": "f000aa8104514000b000000000000000",
                "name": "<Unnamed>",
                "type": "(Custom Type)",
                "notifiable": true,
                "readable": true,
                "writable": false,
                "writeWithoutResponse": false
            },
            {
                "uuid": "f000aa8204514000b000000000000000",
                "name": "<Unnamed>",
                "type": "(Custom Type)",
                "notifiable": false,
                "readable": true,
                "writable": true,
                "writeWithoutResponse": false
            },
            {
                "uuid": "f000aa8304514000b000000000000000",
                "name": "<Unnamed>",
                "type": "(Custom Type)",
                "notifiable": false,
                "readable": true,
                "writable": true,
                "writeWithoutResponse": false
            },
            {
                "uuid": "f000aa7104514000b000000000000000",
                "name": "<Unnamed>",
                "type": "(Custom Type)",
                "notifiable": true,
                "readable": true,
                "writable": false,
                "writeWithoutResponse": false
            },
            {
                "uuid": "f000aa7204514000b000000000000000",
                "name": "<Unnamed>",
                "type": "(Custom Type)",
                "notifiable": false,
                "readable": true,
                "writable": true,
                "writeWithoutResponse": false
            },
            {
                "uuid": "f000aa7304514000b000000000000000",
                "name": "<Unnamed>",
                "type": "(Custom Type)",
                "notifiable": false,
                "readable": true,
                "writable": true,
                "writeWithoutResponse": false
            },
            {
                "uuid": "ffe1",
                "name": "<Unnamed>",
                "type": "(Custom Type)",
                "notifiable": true,
                "readable": false,
                "writable": false,
                "writeWithoutResponse": false
            },
            {
                "uuid": "f000aa6504514000b000000000000000",
                "name": "<Unnamed>",
                "type": "(Custom Type)",
                "notifiable": false,
                "readable": true,
                "writable": true,
                "writeWithoutResponse": false
            },
            {
                "uuid": "f000aa6604514000b000000000000000",
                "name": "<Unnamed>",
                "type": "(Custom Type)",
                "notifiable": false,
                "readable": true,
                "writable": true,
                "writeWithoutResponse": false
            },
            {
                "uuid": "f000ac0104514000b000000000000000",
                "name": "<Unnamed>",
                "type": "(Custom Type)",
                "notifiable": false,
                "readable": true,
                "writable": true,
                "writeWithoutResponse": false
            },
            {
                "uuid": "f000ac0204514000b000000000000000",
                "name": "<Unnamed>",
                "type": "(Custom Type)",
                "notifiable": false,
                "readable": true,
                "writable": true,
                "writeWithoutResponse": false
            },
            {
                "uuid": "f000ac0304514000b000000000000000",
                "name": "<Unnamed>",
                "type": "(Custom Type)",
                "notifiable": false,
                "readable": true,
                "writable": true,
                "writeWithoutResponse": false
            },
            {
                "uuid": "f000ccc104514000b000000000000000",
                "name": "<Unnamed>",
                "type": "(Custom Type)",
                "notifiable": true,
                "readable": true,
                "writable": false,
                "writeWithoutResponse": false
            },
            {
                "uuid": "f000ccc204514000b000000000000000",
                "name": "<Unnamed>",
                "type": "(Custom Type)",
                "notifiable": false,
                "readable": false,
                "writable": true,
                "writeWithoutResponse": false
            },
            {
                "uuid": "f000ccc304514000b000000000000000",
                "name": "<Unnamed>",
                "type": "(Custom Type)",
                "notifiable": false,
                "readable": false,
                "writable": true,
                "writeWithoutResponse": false
            },
            {
                "uuid": "f000ffc104514000b000000000000000",
                "name": "<Unnamed>",
                "type": "(Custom Type)",
                "notifiable": true,
                "readable": false,
                "writable": true,
                "writeWithoutResponse": true
            },
            {
                "uuid": "f000ffc204514000b000000000000000",
                "name": "<Unnamed>",
                "type": "(Custom Type)",
                "notifiable": true,
                "readable": false,
                "writable": true,
                "writeWithoutResponse": true
            },
            {
                "uuid": "f000ffc304514000b000000000000000",
                "name": "<Unnamed>",
                "type": "(Custom Type)",
                "notifiable": false,
                "readable": false,
                "writable": true,
                "writeWithoutResponse": true
            },
            {
                "uuid": "f000ffc404514000b000000000000000",
                "name": "<Unnamed>",
                "type": "(Custom Type)",
                "notifiable": true,
                "readable": true,
                "writable": false,
                "writeWithoutResponse": false
            }
        ]
    }
]
